<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <!-- Vendor CSS Files  -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/stylesheets/all.min.css" rel="stylesheet" type="text/css" />

    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/fontawesome-all.css" />
    <link href="/stylesheets/sb-admin-2.css" rel="stylesheet" />
    <!-- Template Main CSS File -->

    <link rel="stylesheet" href="/stylesheets/styleadmin.css" />
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="fi fi-rr-menu-burger mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="/images/bagan.jpg"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light">
            <a href="index.html"> </a>
          </h1>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#hero" class="nav-link scrollto active"
                ><i class="fi fi-rr-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="#about" class="nav-link scrollto">
                <i class="fi fi-rr-user"></i><span>Profile</span></a
              >
            </li>

            <li>
              <a href="/adminpage/normallist" class="nav-link scrollto"
                ><i class="fi fi-rr-users-alt"></i>
                <span>Normal Users List</span></a
              >
            </li>
            <li>
              <a href="/adminpage/adminpostlist" class="nav-link scrollto"
                ><i class="fi fi-rr-apps"></i> <span>Agent Posts List</span></a
              >
            </li>
            <li>
              <a href="/adminpage/agentlist" class="nav-link scrollto"
                ><i class="fi fi-rr-users"></i> <span>Agent Users List</span></a
              >
            </li>
            <li>
              <a href="/users/logout" class="nav-link scrollto"
                ><i class="fi fi-rr-exit"></i> <span>Logout</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <section id="hero">
        <div class="container-fluid">
          <!-- Page Heading -->
          <div
            class="d-sm-flex align-items-center justify-content-between mb-4"
          >
            <h2><b>Admin Dashboard</b></h2>
          </div>

          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <a href="#portfolio">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Total Blog
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%= posts.length %> posts
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <a href="#services">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Normal users
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%= users.length%> users
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <a href="#contact">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Agent users
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <%= ausers.length %> users
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Agent Users -->
          <div>
          <h2>Agent Users</h2>
          <table class="table">
            <thead>
              <tr>
                <th style="color: rgb(147, 255, 47)">Name</th>
                <th style="color: rgb(0, 0, 95)">Email</th>
                <th style="color: rgb(218, 149, 0)">Phone</th>
                <th style="color: rgb(238, 255, 0)">City</th>
                <th style="color: rgb(0, 235, 141)">Created Date</th>
              </tr>
            </thead>
            <% for(var i = 0; i < ausers.length ; i++){%>
            <tbody>
              <tr>
                <td style="color: greenyellow"><%= ausers[i].agentName %></td>
                <td style="color: rgb(0, 45, 71)">
                  <%= ausers[i].agentEmail %>
                </td>
                <td style="color: rgb(238, 115, 0)">
                  <%= ausers[i].agentPhone %>
                </td>
                <td style="color: rgb(235, 227, 0)">
                  <%= ausers[i].agentCity %>
                </td>
                <td style="color: rgb(0, 251, 151)">
                  <%= ausers[i].agentDate %>
                </td>
              </tr>
            </tbody>
            <%}%>
          </table>
        </div>

          <!-- Normal users -->
          <h2>Normal Users</h2>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th style="color: greenyellow">Name</th>
                <th style="color: rgb(0, 0, 95)">Email</th>
                <th style="color: rgb(0, 235, 141)">Created Date</th>
              </tr>
            </thead>
            <% for(var k = 0; k < users.length ; k++){%>
            <tbody>
              <tr>
                <td style="color: greenyellow"><%= users[k].normalName %></td>
                <td style="color: rgb(0, 45, 71)">
                  <%= users[k].normalEmail %>
                </td>
                <td style="color: rgb(0, 251, 151)">
                  <%= users[k].normalDate %>
                </td>
              </tr>
            </tbody>
            <%}%>
          </table>
        </div>
      </section>

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>Admin Profile</h2>
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="/images/bagan.jpg" class="img-fluid" alt="" />
            </div>
            <div
              class="col-lg-8 pt-4 pt-lg-0 content"
              style="margin-top: 40px"
              data-aos="fade-left"
            >
              <div class="row">
                <div class="col-lg-12">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Name:</strong>
                      <span><%= admin[0].adminName %></span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Email:</strong>
                      <span><%= admin[0].adminEmail %></span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Created Date:</strong>
                      <span><%= admin[0].adminDate %></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- no footer here -->
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
    >
      <i class="fi fi-rr-angle-double-small-up"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="/vendor/aos/aos.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/javascripts/mainadmin.js"></script>
    <!-- for boxes -->
    <!-- <script src="/javascripts/sb-admin-2.js"></script> -->
  </body>
</html>
