<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Travel Bag</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    /> -->

    <!-- Vendor CSS Files -->

    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/template.css" />
    <link rel="stylesheet" href="/stylesheets/agent-post-list.css" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />

    <style>
      body {
        background: #5a3f37;
        background: -webkit-linear-gradient(to right, #2c7744, #5a3f37);
        background: linear-gradient(to right, #2c7744, #5a3f37);
      }
      .upDate1 {
        background-color: #14bf98;
        border: none;
      }
      .dElete1 {
        background-color: gray;
        border: none;
      }
    </style>
  </head>
  <i class="mobile-nav-toggle d-lg-none fi fi-rr-menu-burger"></i>

  <body>
    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="/users/agentpage" class="nav-link scrollto"
              ><i class="fi fi-rr-home"></i> <span>Home</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </header>

    <main id="main" class="whole-body">
      <section id="portfolio-details" class="portfolio-details">
        <div class="container rounded">
          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="portfolio-details-slider swiper">
                <div class="align-items-center rounded">
                  <div class="img-fluid">
                    <img src="<%= posts.image%>" alt="" width="100%" />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="portfolio-info">
                <h3>ပရိုဖိုင်လ် အချက်အလက်များ</h3>
                <ul>
                  <li>
                    <strong>အေးဂျင့်</strong> : <%= locals.agent.agentName %>
                  </li>
                  <li><strong>တည်နေရာ</strong> : <%= posts.place %></li>
                  <li><strong>ဖုန်းနံပါတ်</strong> : 0978965424</li>
                  <li>
                    <strong>ပို့စ်တင်ချိန်</strong> : <%= posts.created %>
                  </li>
                </ul>
              </div>
              <div class="portfolio-description" style="padding-left: 10%">
                <h2><%= posts.title%></h2>
                <p><%= posts.content %></p>
              </div>
              <div>
                <!-- <button
                  type="button"
                  class="btn btn-success btn-lg m-4 upDate1"
                  data-mdb-ripple-color="dark"
                  style="z-index: 1"
                >
                  ပြင်ဆင်မည်
                </button>

                <button type="button" class="btn btn-danger btn-lg dElete1">
                  ဖျက်မည်
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- End #main -->

    <div id="preloader"></div>
    <!-- <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a> -->

    <script src="/javascripts/main.js"></script>
  </body>
</html>
