<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search bar</title>
    <link rel="shortcut icon" href="/images/bbb.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/search-style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet" />
    <link href="/stylesheets/swiper.css" rel="stylesheet" />
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet" />
    <link href="/stylesheets/styles.css" rel="stylesheet" />

    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  </head>
  <style>
    
    .im11 {
      max-width: 100%;
      height: 400px;
    }
    .phone123 {
      width: 25px;
      height: 25px;
      margin-top: 30px;
    }
    .section-title {
      text-align: center;
      padding-top: 60px;
      padding-bottom: 30px;
    }
    #post_box {
  background-color: rgb(145, 208, 239);
}
    
  </style>
  <body style="background-color: #adadf5">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- this is nav bar -->
    <% include ./partials/navbar %>
    <!-- this is nav  -->
    <div class="form-group pull-right center-box" style="margin-top: 15%">
      <input
        type="text"
        class="search form-control"
        placeholder="What you looking for?"
      />
    </div>
    <span class="counter pull-right center-box"></span>
    <div class="center-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div id="projects" class="filter">
              <div class="container">
                <div class="row"></div>
                <!-- end of row -->
                <div class="row">
                  <div class="col-lg-12">
                    <!-- Filter -->

                    <div style="margin-right: 5px">
                      <input type="checkbox" name="checkbox" id="" /><span
                        style="color: white"
                        >ဘုရားဖူးခရီးစဉ်</span
                      >
                      <hr />
                      <input type="checkbox" name="checkbox" id="" /><span
                        style="color: white"
                        >ကမ်းခြေခရီးစဉ်</span
                      >
                      <hr />
                      <input type="checkbox" name="checkbox" id="" /><span
                        style="color: white"
                        >လေ့လာရေးခရီးစဉ်</span
                      >
                      <hr />
                      <input type="checkbox" name="checkbox" id="" /><span
                        style="color: white"
                        >Express</span
                      >
                      <hr />
                      <input type="checkbox" name="checkbox" id="" /><span
                        style="color: white"
                        >ဟိုတယ်</span
                      >
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      
          <div class="col-lg-10" style="justify-content: center">
            <div class="grid">
              <% for (var i = 0 ; i < posts.length ; i ++){%>

              <div class="element-item design marketing" id="post-box" >
                <a class="popup-with-move-anim" 
                  ><div class="element-item-overlay" id="post-text">
                    <span><%= posts[i].title%></span>
                  </div>
                  <a href="/postdetail/<%= posts[i]._id %> " 
                    class="portfolio-details-lightbox"
                    data-glightbox="type: external"

                    
                    >
                    <img class="blog123"
                  style="width: 210px; " 
                   src="<%= posts[i].image %>" alt="Bagan"
                />
                  </a>
                  </a>
              </div>
              <%}%>
              <!-- <div
                class="row portfolio-container"
                data-aos="fade-up"
                data-aos-delay="200"
              >
               <% for (var i = 0 ; i < posts.length ; i ++){%>

                <a href="/postdetail/<%= posts[i]._id %> ">
                  <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                      <img
                        src="<%= posts[i].image %>"
                        class=""
                        alt=""
                        width="200px"
                      />
                      <div class="portfolio-info">
                        <h4><%= posts[i].title %></h4>
                      </div>
                    </div>
                  </div>
                </a>
                <%}%>
              </div> -->
             
            </div>
          </div>
         
        </div>
      </div>
    </div>
     <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
                <div class="row">
                  <button title="Close (Esc)" type="button" class="mfp-close x-button" href="/search">
                    ×
                  </button>
                  <div class="col-lg-8">
                    <img class="img-fluid im11" src="<%= posts.image %>" alt="Bagan" />
                  </div>
                  <div class="col-lg-4">
                    <h3>ပုဂံ</h3>
                    <hr class="line-heading" />
                    <p>
                      <%= posts.content %>
                    </p>
                    
                    <div class="testimonial-container">
                      <p class="testimonial-text">
                        <img
                          class="phone123"
                          src="/images/phone-call.png"
                          alt="phone"
                        />
                        <a href="#"><%= posts.phone%></a>
                      </p>
                      <p class="testimonial-author">
                        <img class="phone123" src="/images/ag1.png" alt="agent" />
                        အေးဂျင့်
                      </p>
                    </div>
                    <a
                      class="btn-solid-reg"
                      href="https://technext.github.io/vacation/index.html"
                      >အချက်အလက်များ</a
                    >
                    <a class="btn-outline-reg mfp-close as-button" href="/search"
                      >နောက်သို့</a
                    >
                  </div>
                </div>
            </div>
            
    <% include ./partials/footer %>
  </body>

  <!-- Scripts -->
  <script src="/javascripts/jquery.min.js"></script>
  <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="/javascripts/popper.min.js"></script>
  <!-- Popper tooltip library for Bootstrap -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- Bootstrap framework -->
  <script src="/javascripts/jquery.easing.min.js"></script>
  <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="/javascripts/swiper.min.js"></script>
  <!-- Swiper for image and text sliders -->
  <script src="/javascripts/jquery.magnific-popup.js"></script>
  <!-- Magnific Popup for lightboxes -->
  <script src="/javascripts/morphext.min.js"></script>
  <!-- Morphtext rotating text in the header -->
  <script src="/javascripts/isotope.pkgd.min.js"></script>
  <!-- Isotope for filter -->
  <script src="/javascripts/validator.min.js"></script>
  <!-- Validator.js - Bootstrap plugin that validates forms -->
  <script src="/javascripts/scripts.js"></script>

  <script src="/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Custom scripts -->

  <script></script>
</html>
